*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(16, 25, 65, 0.5),rgba(16, 25, 65, 0.5)), url(images/aust.jpg);;
    /* background-position: center; */
    background-size: cover;
}

.box{
    position: relative;
    width: 840px;
    height: 500px;
    background: #1c1c1c;
    border-right: 8px;
    overflow: hidden;
}

.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 840px;
    height: 500px;
    background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 840px;
    height: 500px;
    background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.borderline{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderline::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 840px;
    height: 500px;
    background: linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderline::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 840px;
    height: 500px;
    background: linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}  
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
}

.box .container{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box h2{
    position: absolute;
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 2em;
}

.box .container .inputbox{
    position: relative;
    width: 360px;
    margin-top: 150px;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
}

.box .container .inputbox span{
    position: absolute;
    left: 0;
    padding: 20px 0 10px;
    pointer-events: none;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 0.05em; 
    margin-top: 120px;
    margin-left: 10px;
}


.box .container  i{
    position: absolute;
    top: 120px;
    width: 80%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    pointer-events: none;
}

.box .container a input[type = "submit"]{
    position: absolute;
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 365px;
    left: 360px;
    display: flex;
}


